body {
    background: rgb(253, 250, 227);
    margin: 0 80px;
    text-align: center;
    font-family: 'open sans';
}

.content-titulo {
    text-align: center;
    color: orange;
    font-size: 30px;
    margin: 0 0 150px 0 ;
}

.content-img__img1 {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.Form-logo {
    border-radius: 10%;

}

.content-img__perfil {
    margin: 20px 0;
    width: 30%;
    height: 250px;
    text-align: center;
}

.content-img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 100%;
    border: 20px solid #FFD700;
}

.content-informacion__boxImgs {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-informacion__boxImg {
    flex-wrap: wrap;
    margin: 20px 0;
    width: 150px;
    min-width: 100px;
    height: 200px;
    text-align: center;
    padding: 20px;
    flex-direction: column;
    box-shadow: 0px 0px 4px 0 #000;

}

.content-informacion__boxImgs img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 100%;
}
