*{
    display: flex;
    flex-wrap: wrap;  /*entender*/
    flex-direction: column;
}

.seccion_perfil_usuario .header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#B873FF, tranparent);
}

.seccion_perfil_usuario .seccion_perfil_portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background: linear-gradient(45deg, #B873FF, #317FFF);
    border-radius: 0 0 20px 20px;
}